@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;

    scroll-behavior: smooth;
}
.ledger {
    font-family: "Ledger", serif;
}

p {
    @apply text-sm lg:text-base;
}

h1 {
    @apply font-bold text-4xl lg:text-6xl ledger;
}

h2 {
    @apply text-3xl lg:text-4xl font-bold ledger;
}

h3 {
    @apply text-2xl lg:text-3xl font-semibold ledger;
}

.button--primary {
    @apply bg-light font-medium text-tertiary py-2 lg:py-3 px-8 lg:px-12 duration-200 hover:opacity-80 rounded-full text-nowrap text-sm lg:text-base;

}